<div class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header text-center">პროდუქტის {{ operation }}</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="addProduct()">
                    <input formControlName="name" type="text" class="form-control" placeholder="ჩაწერეთ სახელი">
                    <span *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
                        ველის შევსება <strong>სავალდებულოა</strong>
                    </span>
                    <select formControlName='address' class="form-select mt-2" id="addressselect">
                        <option value="" disabled selected>ადგილმდებარეობა</option>
                        <option>მთავარი ოფისი</option>
                        <option>კავეა გალერია</option>
                        <option>კავეა თბილისი მოლი</option>
                        <option>კავეა ისთ ფოინთი</option>
                        <option>კავეა სითი მოლი</option>
                    </select>
                    <span *ngIf="form.get('address')?.hasError('required') && form.get('address')?.touched">
                        ველის შევსება <strong>სავალდებულოა</strong>
                    </span>
                    <input formControlName="price" type="number" class="form-control mt-2" placeholder="ჩაწერეთ ფასი(₾)">
                    <span *ngIf="form.get('price')?.hasError('required') && form.get('price')?.touched">
                        ველის შევსება <strong>სავალდებულოა</strong>
                    </span>
                    <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button routerLink="/" type="button" class="btn btn-secondary">გაუქმება</button>
                        </div>
                        <div class="col-lg-6">
                            <button [disabled]="form.invalid" type="submit" class="btn btn-primary">დამატება</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>